# Telegram Bot Settings
TELEGRAM_TOKEN=YOUR_TELEGRAM_TOKEN
CHANNEL_ID=@your_channel_username # For subscription check
POST_CHANNEL_ID=@your_post_channel_username # For autoposting

# Database
DATABASE_URL=postgresql://user:password@host:port/database

# Celery
REDIS_URL=redis://localhost:6379/0

# APIs
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
ELEVENLABS_API_KEY=YOUR_ELEVENLABS_API_KEY
D_ID_API_KEY=YOUR_D_ID_API_KEY

# Security
FASTAPI_ADMIN_SECRET_KEY=YOUR_SUPER_SECRET_KEY_FOR_ADMIN_PANEL 